alembic==1.18.3
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
asttokens==3.0.1
attrs==25.4.0
autopage==0.6.0
backports.strenum==1.3.1
bitarray==3.8.0
blinker==1.9.0
cachetools==6.2.6
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cliff==4.13.1
cloudpickle==3.1.2
cmaes==0.12.0
cmd2==3.2.0
colorama==0.4.6
colorlog==6.10.1
comm==0.2.3
contourpy==1.3.2
cryptography==46.0.4
cvxopt==1.3.2
cycler==0.12.1
databricks-sdk==0.85.0
debugpy==1.8.20
decorator==5.2.1
deep_river==0.3.2
docker==7.1.0
docstring_parser==0.17.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.128.2
filelock==3.20.3
Flask==3.1.2
flask-cors==6.0.2
fonttools==4.61.1
fsspec==2026.1.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.48.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.3.1
griffe==1.15.0
h11==0.16.0
huey==2.6.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
ipykernel==7.1.0
ipython==8.38.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.4.9
lxml==6.0.2
Mako==1.3.10
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
# Editable Git install with no remote (master-thesis==0.1.0)
-e c:\users\pavel\desktop\projects\master-thesis
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.3
mkdocs-get-deps==0.2.0
mkdocstrings==1.0.2
mkdocstrings-python==2.0.1
mlflow==3.9.0
mlflow-skinny==3.9.0
mlflow-tracing==3.9.0
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
objsize==0.7.1
omegaconf==2.3.0
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
optuna==2.10.1
packaging==25.0
paho-mqtt==2.1.0
pandas==2.2.3
parso==0.8.5
pathspec==1.0.4
pillow==12.1.0
platformdirs==4.5.1
pm4py==2.7.19.8
prettytable==3.17.0
prompt_toolkit==3.0.52
protobuf==6.33.5
psutil==7.2.2
pure_eval==0.2.3
pyais==2.15.0
pyarrow==22.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pybeamline==2.0.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pymdown-extensions==10.20.1
pyparsing==3.3.2
pyperclip==1.11.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytkdocs==0.16.5
pytz==2025.2
pywin32==311
PyYAML==6.0.3
pyyaml_env_tag==1.1
pyzmq==27.1.0
reactivex==4.1.0
requests==2.32.5
rich==14.3.2
rich-argparse==1.7.2
river==0.23.0
rsa==4.9.1
scikit-learn==1.5.2
scipy==1.15.3
six==1.17.0
skops==0.13.0
smmap==5.0.2
sortedcontainers==2.4.0
SQLAlchemy==2.0.46
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.50.0
stevedore==5.6.0
sympy==1.14.0
threadpoolctl==3.6.0
tomli==2.4.0
torch==2.2.2
torchviz==0.0.3
tornado==6.5.4
tqdm==4.66.6
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.5.3
Werkzeug==3.1.5
zipp==3.23.0
